.login-form {
  background-color: #b9c2c9;
  border: 6px solid white;
  height: 600px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000000;
}
.login-form .white-shadow {
  z-index: 0;
}
.login-form .header .avatar {
  z-index: 1;
}
.login-form .header .header-line {
  width: 100%;
  height: 6px;
  background-color: white;
  z-index: 0;
  box-shadow: 1px 4px 10px #a4b0bb;
}
