.login-form {
  color: #757a85;
  background-color: #b9c2c9;
  border: 6px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #706a6a;
}
.login-form .white-shadow {
  z-index: 0;
}
.login-form .header .avatar {
  z-index: 1;
}
.login-form .header .header-line {
  width: 100%;
  height: 6px;
  background-color: white;
  z-index: 0;
  box-shadow: 1px 4px 10px #a4b0bb;
}
.login-form .inputs .input-text {
  padding: 20px 0;
  border-radius: 10px;
  background-color: #bdc6ce;
  border: 2px solid #575656;
  color: #939aa1;
  font-weight: bold;
  font-size: 25px;
  box-shadow: inset 1px 1px 5px #575656;
}
.login-form .btn-login {
  border: 2px solid #676768;
  border-bottom-width: 5px;
  border-radius: 5px;
  padding: 15px 60px;
  padding-bottom: 20px;
  font-size: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(175deg, rgb(63, 94, 251) 0%, rgb(211, 219, 224) 0%, rgb(130, 140, 149) 100%);
  color: #3a3936;
  font-weight: bold;
  box-shadow: 1px 1px 5px #575656;
}
.login-form .btn-login:active {
  box-shadow: none;
}

.custom-switch .switch-container {
  width: 78px;
  height: 33px;
  border: 2px solid #575656;
  border-radius: 30px;
  box-shadow: inset 1px 0px 3px #575656;
  transition: 0.3s;
}
.custom-switch .switch-selected {
  background-color: #3a3936;
}
.custom-switch .switch-selected .slider {
  transform: translateX(-45px);
}
